<% var data = {
  title: "Конструктор цехов",
  author: "Malcore"
}; %>

<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/modals.html').default)() %>
<%= _.template(require('./../includes/logo.html').default)() %>
<%= _.template(require('./../includes/tools.html').default)() %>
<%= _.template(require('./../includes/funcs.html').default)() %>
<%= _.template(require('./../includes/layers.html').default)() %>
<%= _.template(require('./../includes/messages.html').default)() %>
<%= _.template(require('./../includes/informations.html').default)() %>

<div class="constructor-canvas" id="container"></div>

<%= _.template(require('./../includes/context.html').default)() %>
<%= _.template(require('./../includes/footer.html').default)(data) %>