.constructor-modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 4500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .55);
  opacity: 0;
}

.constructor-modal.active {
  display: flex;
  opacity: 1;
}

.constructor-modal .wrapper {
  display: none;
  position: relative;
  z-index: 4502;
  background: white;
  padding: 15px;
  border-radius: 5px;
  min-width: 525px;
}

.constructor-modal .wrapper h1 {
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  color: var(--accent);
  text-align: center;
}

.constructor-modal .wrapper ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  margin: 0;
  padding: 0;
}

.constructor-modal .wrapper ul li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 10px;
  margin: 0;
  background: #f3f3f3;
  border-radius: 5px;
  height: 16px;
  width: calc(100% - 20px);
}

.constructor-modal .wrapper ul li label {
  color: var(--accent);
  width: 100%;
}

.constructor-modal .wrapper ul li span {
  font-size: 14px;
  color: var(--accent);
  opacity: 1;
}

.constructor-modal .background {
  position: fixed;
  z-index: 4501;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  animation: fadeIn .3s ease;
}

.constructor-modal .wrapper button {
  margin-top: 10px;
  padding: 10px;
  background: #f3f3f3;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.constructor-modal .wrapper button span {
  color: var(--accent);
  opacity: .4;
  transition: all .3s ease;
}

.constructor-modal .wrapper button:hover span {
  opacity: 1;
}

.extention-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.extention-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.extention-container .extention-checkmark {
  position: absolute;
  z-index: 4504;
  top: -10px;
  right: -54px;
  height: 36px;
  width: 36px;
  background: #f3f3f3;
  border-radius: 5px;
  transition: all .3s ease;
}

.extention-container:hover input ~ .extention-checkmark {
  background-color: var(--accent);
  opacity: .25;
}

.extention-container input:checked ~ .extention-checkmark {
  background-color: var(--accent);
  opacity: 1;
}

.extention-container .extention-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.extention-container input:checked ~ .extention-checkmark:after {
  display: block;
}

.extention-container .extention-checkmark:after {
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 3px;
  background: #ffffff;
}

.constructor-modal .wrapper ul li.extentions-item {
  width: calc(100% - 64px);
}

.constructor-modal .wrapper button {
  background: var(--accent);
}

.constructor-modal .wrapper button span {
  opacity: 1;
  color: white;
}

.constructor-modal .wrapper .options-list .option-item .option-value span {
  margin-right: 30px;
}

.constructor-modal .wrapper .options-list .option-item .option-value img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  position: absolute;
  right: 25px;
  opacity: .75;
  cursor: pointer;
  transition: all .3s ease;
}

.constructor-modal .wrapper .options-list .option-item .option-value img:hover {
  opacity: 1;
}

.wrapper.save-content .form-group {
  margin: 0;
  margin-bottom: 10px;
}

.wrapper.save-content .form-group .setting {
  width: 100%;
  box-shadow: none;
  padding: 10px;
  margin: 0;
  background: #f3f3f3;
  border-radius: 5px;
  height: 16px;
  outline: none;
}

#drop_zone {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed var(--accent);
  border-radius: 10px;
  height: 256px;
  color: var(--accent);
  font-size: 14px;
  opacity: .4;
  cursor: pointer;
  transition: all .3s ease;
  
  &:hover {
    opacity: 1;
  }

  span {
    background: #153f86;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    cursor: default;
  }
}

#drop_zone.dropped {
  opacity: 1;
  background: #153f862b; 
}

.wrapper.resize-content {
  width: 525px;

  h2 {
    font-size: 14px;
    font-weight: 400;
    padding: 0 15px;
    text-align: center;
    color: var(--accent);
  }

  .form-group {
    margin: 0;

    button {
      color: white;
      opacity: 1;
    }
  }
}