.constructor-message {
  position: absolute;
  z-index: 1155;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  opacity: 1;
}

.constructor-message.warning {
  top: 100px;
  align-items: flex-start;
  animation: slideIn .3s ease;
}

.constructor-message.open p {
  top: 0;
  align-items: flex-start;
  animation: fadeIn .3s ease;
}

.constructor-message.hide {
  display: none;
  opacity: 0;
  animation: fadeOut .3s ease;
}

.constructor-message p {
  background: white;
  border-radius: 5px;
  padding: 25px;
  cursor: default;
  box-shadow: 0 0 75px 0 rgba(41, 46, 56, .25);
}

.constructor-message p span {
  color: var(--accent);
  opacity: .45;
  font-size: 14px;
}